<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>setTimeout | setInterval | clearInterval</title>
  <style>
    body {
      width: 100vh;
      height: 100vh;
      background-color: rgb(10, 19, 119);
      color: #fff;
    }
    .ativo{
      background-color: rgb(18, 18, 76);
    }
    h1{
      font-size: 3rem;
    }
    button{
      padding: 15px 25px;
      border-radius: 10px;
      font-weight: bolder;
    }
  </style>
</head>

<body>
  <h1>Tempo: <span class="minutos">00</span>:<span class="segundos">00</span></h1>
  <button class="iniciar">Iniciar</button>
  <button class="pausar" disabled>Pausar</button>
  <button class="resetar">Resetar</button>
  <script src="teste.js"></script>
</body>

</html>