body{
  background: #837f7f;
}
.navbar{
  background: #f97300 !important;
}
.navbar-brand,.nav-link { 
  color: #f4f4f4 !important; 
  cursor: pointer;
}
.nav-link{ 
  margin-right: 1px;
  border-radius: 5px;
}
.nav-link:hover{ 
  background: #f4f4f4; 
  color: #f97300 !important; 
}
.navbar-collapse{ 
  justify-content: flex-end;
}
.navbar-toggler{  
  background:#fff;
}
