img{
  max-width: 100%;
  display: block;
  height: auto;
}
#galeria{
  max-width: 600px;
  margin: 0 auto;
}
#galeria ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}