<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@adriwco</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">@adriwco</text>
      </symbol>
  
      <g class = "g-ants">
        <use href="#s-text" class="text-copy"></use>
        <use href="#s-text" class="text-copy"></use>
        <use href="#s-text" class="text-copy"></use>
        <use href="#s-text" class="text-copy"></use>
        <use href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
</body>
</html>